    body {
          font-family: 'Poppins', sans-serif;
          background: linear-gradient(135deg, #0f172a, #1e293b, #4979c6, #0f172a);
         color: white;
          
        }

.hero {
    text-align: center;
    padding: 80px 20px 40px;
}

.hero h1 {
    font-size: 3rem;
    font-weight: 600;
}

.hero p {
    color: #94a3b8;
    font-weight: 700;
}

/* Cards */
.card {
    background: rgba(255,255,255,0.05);
    border: none;
    border-radius: 20px;
    backdrop-filter: blur(12px);
    color: white;
    transition: 0.3s;
    height: 100%;                    /* Important for uniform height */
    display: flex;
    flex-direction: column;
    

}

.card:hover {
    transform: translateY(-8px);
    box-shadow: 0 20px 50px rgba(56,189,248,0.3);
}

.card-body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 0;
}

.card-content {
    flex-grow: 1;
}

/* Image consistency */
.card-img-top {
    height: 190px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
    margin-bottom: 1rem;
}


.badge-container {
    margin: 0.75rem 0;
}


.tech-icons i {
    font-size: 1.6rem;
    margin: 6px;
    opacity: 0.8;
}

.tech-icons i:hover {
    transform: scale(1.2);
    opacity: 1;
}

.btn-container {
    margin-top: auto;
    padding-top: 1rem;
}

    .btn-modern {
            background:  #939595;
            border: none;
            color: black;
            border-radius: 999px;
            padding: 8px 16px;
            font-size: 0.9rem;
            margin-top: 10px;
        }

        .btn-modern:hover {
            background:#232944;
        }